<!doctype html>
<html>
    <head>
        <title>Url Shortener</title>
    </head>
    <body>
        <h1>Url Shortener</h1>
        <p>
            This API generates a shortcut url and returns in JSON format.
        </p>
        <p>
            Example :<br><br>
            
            <strong>To generate facebook url shortcut :</strong><br>
            https://teenyurl.herokuapp.com/new/http://www.facebook.com
            <br><br>
            <strong>To access :</strong><br>
            https://teenyurl.herokuapp.com/u/1238
        </p>
    </body>
</html>