<!doctype html>
<html>
    <head>
        <title>Url Shortener</title>
    </head>
    <body>
        <h1>Url Shortener</h1>
        <p>
            This API generates a shortcut url and returns in JSON format.
            
            Example :
            
            <strong>To generate facebook url shortcut :</strong>
            https://teenyurl.herokuapp.com/new/http://www.facebook.com
            
            <strong>To access :</strong>
            https://teenyurl.herokuapp.com/1238
        </p>
    </body>
</html>